<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% set lang = services.sessionStorage.getLang() %}
{% set favicon = url ~ '/tpl/favicon_' ~ services.webstoreConfig.getWebstoreConfig().webstoreId ~ '.ico' %}
<link rel="icon" type="img/ico" href="{{ favicon }}">

{% set requestUrl = services.webstoreConfig.getWebstoreConfig().domainSsl ~ request.getRequestUri() %}
{% set canonicalUrl = services.url.getCanonicalURL() %}
{% set languageUrls = services.url.getLanguageURLs() %}

{% if canonicalUrl is not null %}
    <link rel="canonical" href="{{ canonicalUrl }}">
{% endif %}

{% if canonicalUrl == requestUrl %}
    {% for language, url in languageUrls %}
        <link rel="alternate" hreflang="{{language}}" href="{{url}}"/>
    {% endfor %}
{% endif %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set logData = config("Ceres.log.data")|split(', ') %}
{% set sortValues = config("Ceres.sort.data")|split(', ') %}
{% set defaultSorting = config('Ceres.sort.defaultSorting') %}
{% set defaultSortingSearch = config('Ceres.sort.defaultSortingSearch') %}
{% set rowsPerPage = config('Ceres.pagination.rowsPerPage') | split(', ') %}
{% set columnsPerPage = config('Ceres.pagination.columnsPerPage') %}
{% set itemsPerPage = rowsPerPage[0] * columnsPerPage %}
{% set performanceLevel = config('Ceres.log.performance.level') %}
{% set itemName = config('Ceres.item.name') %}
{% set currencyFormat = config("Ceres.currency.format") %}

{% if LayoutContainer.show("Ceres::Template.StyleOverwrite") | trim is empty %}
    <link rel="stylesheet" href="{{ plugin_path('Ceres') }}/css/ceres.css">
    <link rel="stylesheet" href="{{ plugin_path('Ceres') }}/css/style.css">
    <link rel="stylesheet" href="{{ plugin_path('Ceres') }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ plugin_path('Ceres') }}/css/bootstrap.min.js">
{% endif %}

{{ LayoutContainer.show("Ceres::Template.StyleOverwrite") }}

<!-- Extend the existing style with a template -->
{{ LayoutContainer.show("Ceres::Template.Style") }}

<script>
    App = {
        config:
        {
            printErrors:        {% if "print_errors" in logData or "all" in logData %}true{% else %}false{% endif %},
            printSuccess:       {% if "print_success" in logData or "all" in logData %}true{% else %}false{% endif %},
            printWarnings:      {% if "print_warnings" in logData or "all" in logData %}true{% else %}false{% endif %},
            printInfos:         {% if "print_infos" in logData or "all" in logData %}true{% else %}false{% endif %},
            printStackTrace:    {% if "print_stack_trace" in logData or "all" in logData %}true{% else %}false{% endif %},
            logMessages:        {% if "log_messages" in logData or "all" in logData %}true{% else %}false{% endif %},
            defaultItemsPerPage: "{{ itemsPerPage }}",
            defaultSorting: "{{ defaultSorting }}",
            defaultSortingSearch: "{{ defaultSortingSearch }}",
            performanceLevel: "{{ performanceLevel }}",
            itemDisplayName: "{{ config("Ceres.item.displayName") }}",
            itemName: {{ itemName }},
            enabledBillingAddressFields: "{{ config("Ceres.billing_address.show") }}",
            enabledBillingAddressFieldsUK: "{{ config("Ceres.billing_address.en.show") }}",
            enabledDeliveryAddressFields: "{{ config("Ceres.delivery_address.show") }}",
            enabledDeliveryAddressFieldsUK: "{{ config("Ceres.delivery_address.en.show") }}",
            enableOldUrlPattern: "{{ config("Ceres.global.enableOldUrlPattern") }}",
            shopName: "{{ config("Ceres.header.company_name") }}",
            forwardToSingleItem: {{ config("Ceres.search.forwardToSingleItem") | default('false') }},
            activeCurrency: "{{ services.checkout.getCurrencyData()[currencyFormat] }}",
            currencyPattern: {{  services.checkout.getCurrencyPattern() | json_encode | raw }},
            basketOpenClass: {% if config("Ceres.basket.preview_type") != "right" %}"open-hover"{% else %}"open-right"{% endif %}
        },
        isCategoryView: {% if services.template.isCategory() == "1" %}true{% else %}false{% endif %},
        isCheckoutView : {% if services.template.isCheckout() == "1" %}true{% else %}false{% endif %},
        isSearch: {% if services.template.isSearch() == "1" %}true{% else %}false{% endif %},
        language: "{{ lang }}"
    };
</script>
